apiVersion: apps/v1
kind: Deployment
metadata:
  name: mssql
  namespace: techchallenge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mssql
  template:
    metadata:
      labels:
        app: mssql
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2019-latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 1433
        env:
        - name: SA_PASSWORD
          value: "Your_password123!"
        - name: ACCEPT_EULA
          value: "Y"
