apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments
  namespace: techchallenge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payments
  template:
    metadata:
      labels:
        app: payments
    spec:
      containers:
      - name: payments
        image: techchallenge-payments:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ConnectionStrings__DefaultConnection
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: PAYMENTS_DB
        - name: RabbitMQ__Host
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: RABBITMQ_HOST
        - name: USERS_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: USERS_URL
        - name: GAMES_URL
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: GAMES_URL
