apiVersion: apps/v1
kind: Deployment
metadata:
  name: users
  namespace: techchallenge
spec:
  replicas: 1
  selector:
    matchLabels:
      app: users
  template:
    metadata:
      labels:
        app: users
    spec:
      containers:
      - name: users
        image: alqueiroz/users:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: ASPNETCORE_ENVIRONMENT
          value: Development
        - name: ConnectionStrings__DefaultConnection
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: USERS_DB
        - name: RabbitMQ__Host
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: RABBITMQ_HOST
